* {
    padding: 0;
    margin: 0;
}

body {
    background: lightgray;
}

#body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 12% 7% auto 8%;
    max-width: 1200px;
    width: 90%;
    margin: auto;
    gap: 8px
}

.title,
.nav,
footer {
    grid-column: 2 span;
    display: flex;
    align-items: center;
}

.nav {
    justify-content: center;
    padding: 0 30px;
    column-gap: 2vw;
}

.navbar {
    width: 100%;
    height: 100%;
}

.title,
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    margin: 15px
}

h3 {
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}

section {
    display: flex;
    flex-direction: column;
}

.nav,
.aside {
    background: rgb(236, 130, 232);

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar>a,
.navbar>i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    height: 100%;
    padding: 0 10px;
}

.navbar>.fa-search {
    display: none;
}

.navbar>a:hover,
.navbar>i:hover {
    height: 100%;
    color: white;
    background: rgb(66, 64, 64);
}

form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 5%;
    width: 50%;
}

form>* {
    height: 25px;
}

input {
    width: 100%;
    padding-left: 2px;
    border: 0;
    outline: none;
}

button {
    padding: 0 15px;
    color: white;
    background: rgb(66, 64, 64);
    border: 0
}

.main,
footer {
    background: white;
    padding: 0 10px;
}

.aside {
    padding: 0 10px;
}

.aside>ul {
    width: 70%;
    margin-left: auto;
}

li {
    margin-bottom: 15px;
}

@media(max-width:812px) {
    #body {
        grid-template-rows: 6vw auto auto 4%;
        grid-template-columns: 70% 30%;
        margin: 10px auto;
        ;
    }

    .title {
        font-size: 6vw;
    }

    .nav {
        flex-direction: column;
        padding: 1vw 3vw;
        row-gap: 0.5vw;
    }

    h2 {
        font-size: 5vw;
        height: 5vw;
    }

    h3 {
        font-size: 4vw;
    }

    p {
        font-size: 3.2vw;
    }

    .navbar {
        max-height: max-content;
    }

    .navbar>a,
    .navbar>.fa-search {
        font-size: 2.3vw;
        height: 3.5vw;
    }

    .navbar>.fa-search {
        display: flex;
        width: 4.9vw;
        padding: 0 10px;
    }

    button {
        padding: 0 19px;
        width: 4.9vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2vw;
    }

    .aside>ul {
        font-size: 2.5vw;
    }

    form {
        display: none;
    }

    form.form-show {
        display: flex;
        column-gap: 0;
        width: 98.5%;
        margin-left: auto;
    }

    .form-show>* {
        height: 3.4vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        column-gap: 5%;
    }

    footer {
        font-size: 2vw;
    }

}